:root {
	--clr-100: 0 0% 100%;
	--clr-body: 0 0% 84%;
	--clr-accent: 187 100% 50%;
	--clr-background: 233 10% 15%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: hsl(var(--clr-body));
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	min-height: 100vh;
	background: hsl(var(--clr-background));
	display: grid;
	place-items: center;
}

.container {
	width: 80%;
	max-width: 550px;
	margin: 0 auto;
}

.title {
	font-size: 2.5rem;
}

label,
input {
	display: block;
}

label {
	color: hsl(var(--clr-accent));
	margin: 2rem 0 0.5rem;
}

input {
	color: hsl(var(--clr-100));
	outline: none;
	padding: 0.75em;
	margin-bottom: 1rem;
	border: 1px solid hsl(var(--clr-accent));
	background-color: transparent;
}

button {
	color: #23242b;
	font-weight: bolder;
	border: none;
	padding: 0.7em 1.125em;
	background: hsl(var(--clr-accent));
	display: inline-block;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

button:hover,
button:focus {
	color: hsl(var(--clr-100));
	background-color: hsl(var(--clr-accent) / 0.5);
}
